            <div class="pagewrap" ng-controller="otherController as other">
                <div class="container">
                    <div class="row">
                        <h2 class="col-sm-12">Search youtube</h2>
                        <input type="text" ng-model="other.kw">
                        <a class="btn btn-default" ng-click="other.fetchVids(other.kw)">Getit</a>
                        
                        <div class="col-sm-10">
                            <h3>Αποτελέσματα για {{other.kw}}</h3>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="item in home.data">
                                    Όνομα: {{item.name}} | <a href="{{item.link}}">link</a>
                                    <br />Περιγραφή: {{item.description}}
                                    <span ng-bind-html="item.description"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>